
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
}

.mariadapenha{
    text-align: center;
}

.mariecurie{
    text-align: center;
}

.athrineswitzer{
    text-align: center;
}

.malala{
    text-align: center;
}

.marsha{
    text-align: center;
}